In [1]:
import pandas as pd
import sqlalchemy as sql
import pyodbc

from urllib.parse import quote_plus

params = quote_plus("DRIVER={SQL Server};SERVER=ALLNB220;DATABASE=LAUtility;trusted_connection=yes")

engine = sql.create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)

myQuery = "select * from HistoricalData"
df = pd.read_sql_query(myQuery, engine)

ImportError: No module named 'sqlalchemy'

In [9]:
df

,Text.Date,Value.Date,Zip.Code,Water.Use,Power.Use
0,Mar_2008,Mar-08,"90230\n(33.99506171100046, -118.39500957899969)",16.70,396.0
1,Jul_2011,Jul-11,"90272\n(34.04886156900045, -118.53572692799969)",35.73,1013.0
2,Apr_2010,Apr-10,"90272\n(34.04886156900045, -118.53572692799969)",23.53,916.0
3,Feb_2006,Feb-06,"91607\n(34.16615064800044, -118.39933720499971)",24.33,456.0
4,Aug_2011,Aug-11,"90013\n(34.04726260700045, -118.24609754999972)",54.06,385.0
5,Oct_2006,Oct-06,"90061\n(33.92303021000049, -118.27377957999971)",30.39,309.0
6,Aug_2005,Aug-05,"91352\n(34.22551211300049, -118.37651723499971)",48.05,637.0
7,Mar_2011,Mar-11,"91602\n(34.15134286900047, -118.3690785869997)",23.57,512.0
8,May_2008,May-08,"91350\n(34.44777217900048, -118.51963737199969)",2694.80,0.0
9,Sep_2006,Sep-06,"90068\n(34.115253253000446, -118.33141607799968)",37.03,660.0
10,Jul_2006,Jul-06,"90067\n(34.059550283000476, -118.41458817399968)",455.32,904.0
11,Nov_2005,Nov-05,"90045\n(33.961522614000444, -118.39344972199967)",31.64,418.0
12,Feb_2013,Feb-13,"90029\n(34.08989145600049, -118.29490934299969)",7.86,249.0
13,Oct_2008,Oct-08,"91335\n(34.200180731000444, -118.54031959799971)",26.43,612.0
14,Feb_2008,Feb-08,"90292\n(33.98163129900047, -118.4511079449997)",29.84,483.0
15,Mar_2006,Mar-06,"90248\n(33.87544370900048, -118.28237834699968)",24.37,458.0
16,Mar_2009,Mar-09,"90067\n(34.059550283000476, -118.41458817399968)",331.92,856.0
17,Mar_2010,Mar-10,"91331\n(34.257261068000446, -118.41981955999972)",17.84,456.0
18,Jul_2005,Jul-05,"91340\n(34.286190115000466, -118.43744724799967)",32.39,642.0
19,Nov_2010,Nov-10,"91325\n(34.23588364000045, -118.5210581879997)",28.62,588.0
20,Dec_2006,Dec-06,"90210\n(34.08553341500044, -118.4042687859997)",48.02,1938.0
21,Oct_2011,Oct-11,"91201\n(34.16917042600045, -118.29181569799971)",0.00,0.0
22,Jul_2006,Jul-06,"91315\n(39.52368635500045, -99.11415045099966)",325.00,0.0
23,Feb_2013,Feb-13,"90211\n(34.065663706000464, -118.38146619699972)",0.00,0.0
24,Dec_2006,Dec-06,"90265\n(34.03506183100046, -118.7602985369997)",895.33,0.0
25,Jul_2008,Jul-08,"90245\n(33.92015381600049, -118.40580691799971)",0.00,390.0
26,Sep_2009,Sep-09,"90035\n(34.05421027100044, -118.38387767499972)",23.83,506.0
27,Apr_2008,Apr-08,"91305\n(34.201123597000446, -118.60289636799968)",4.00,0.0
28,Jul_2006,Jul-06,"91605\n(34.20546425700047, -118.40193986299971)",37.41,646.0
29,Aug_2007,Aug-07,"90012\n(34.059480762000476, -118.24204800599972)",125.10,314.0
...,...,...,...,...,...
13890,Oct_2005,Oct-05,"90717\n(33.79380105600046, -118.3173599859997)",21.63,389.0
13891,Apr_2006,Apr-06,"91331\n(34.257261068000446, -118.41981955999972)",20.27,450.0
13892,Dec_2013,Dec-12,"90247\n(33.89189390000047, -118.29849831699971)",8.92,413.0
13893,Nov_2011,Nov-11,"91436\n(34.15384124700046, -118.4873366009997)",28.65,1128.0
13894,Jul_2010,Jul-10,"91402\n(34.22575108800049, -118.4489267519997)",37.99,509.0
13895,Aug_2008,Aug-08,"90291\n(33.99258071300045, -118.4663762939997)",17.69,385.0
13896,Jan_2012,Jan-12,"90064\n(34.035413777000485, -118.4321767559997)",17.97,581.0
13897,Apr_2011,Apr-11,"90710\n(33.79480040800047, -118.2987286019997)",20.60,331.0
13898,Jun_2011,Jun-11,"91330\n(34.24341353500046, -118.5360962529997)",0.00,209.0
13899,Oct_2007,Oct-07,"90037\n(34.00349102100046, -118.28709702299972)",28.67,306.0
13900,Feb_2008,Feb-08,"90014\n(34.04475119400047, -118.2527367189997)",68.54,270.0
13901,Sep_2010,Sep-10,"90035\n(34.05421027100044, -118.38387767499972)",23.77,446.0
13902,Oct_2010,Oct-10,"90037\n(34.00349102100046, -118.28709702299972)",26.01,302.0
13903,Feb_2006,Feb-06,"90501\n(33.82909119100049, -118.3142098569997)",22.83,306.0
13904,Jun_2010,Jun-10,"90275\n(33.76310359300044, -118.3666584179997)",12.00,225.0
13905,Jul_2005,Jul-05,"90043\n(33.98673233600044, -118.33290641599967)",18.97,351.0
13906,Feb_2012,Feb-12,"91405\n(34.20047184600048, -118.4486964669997)",28.94,352.0
13907,Dec_2007,Dec-07,"90031\n(34.07752122500045, -118.2131059239997)",25.43,359.0
13908,Mar_2007,Mar-07,"91313\n(34.257191547000446, -118.60090635499972)",14.00,0.0
13909,Jun_2009,Jun-09,"91302\n(34.14327419400047, -118.6628270279997)",59.11,1227.0
13910,Aug_2010,Aug-10,"91210\n(34.14436044500047, -118.2561258229997)",39.50,1805.0
13911,Nov_2011,Nov-11,"91403\n(34.15359358100045, -118.4596676059997)",24.97,588.0
13912,Jul_2012,Jul-12,"90247\n(33.89189390000047, -118.29849831699971)",13.37,361.0
13913,Apr_2012,Apr-12,"91315\n(39.52368635500045, -99.11415045099966)",0.00,0.0
13914,Sep_2012,Sep-12,"90003\n(33.96335186100049, -118.27393599999971)",10.57,319.0
13915,Aug_2009,Aug-09,"91313\n(34.257191547000446, -118.60090635499972)",22.33,0.0
13916,Mar_2006,Mar-06,"90402\n(34.03254172900046, -118.50584632399972)",17.28,1004.0
13917,Jan_2007,Jan-07,"91105\n(34.136982626000474, -118.15917571599971)",0.00,379.0
13918,Aug_2010,Aug-10,"90013\n(34.04726260700045, -118.24609754999972)",59.91,349.0
13919,Apr_2009,Apr-09,"90019\n(34.04884418900048, -118.33610868499972)",21.98,316.0

In [3]:
import pandas as pd

df = pd.DataFrame(data)

In [4]:
df

                                                       0
0      [Mar_2008, Mar-08, 90230\n(33.99506171100046, ...
1      [Jul_2011, Jul-11, 90272\n(34.04886156900045, ...
2      [Apr_2010, Apr-10, 90272\n(34.04886156900045, ...
3      [Feb_2006, Feb-06, 91607\n(34.16615064800044, ...
4      [Aug_2011, Aug-11, 90013\n(34.04726260700045, ...
5      [Oct_2006, Oct-06, 90061\n(33.92303021000049, ...
6      [Aug_2005, Aug-05, 91352\n(34.22551211300049, ...
7      [Mar_2011, Mar-11, 91602\n(34.15134286900047, ...
8      [May_2008, May-08, 91350\n(34.44777217900048, ...
9      [Sep_2006, Sep-06, 90068\n(34.115253253000446,...
10     [Jul_2006, Jul-06, 90067\n(34.059550283000476,...
11     [Nov_2005, Nov-05, 90045\n(33.961522614000444,...
12     [Feb_2013, Feb-13, 90029\n(34.08989145600049, ...
13     [Oct_2008, Oct-08, 91335\n(34.200180731000444,...
14     [Feb_2008, Feb-08, 90292\n(33.98163129900047, ...
15     [Mar_2006, Mar-06, 90248\n(33.87544370900048, ...
16     [Mar_2009, Mar-09, 90067\n(34.059550283000476,...
17     [Mar_2010, Mar-10, 91331\n(34.257261068000446,...
18     [Jul_2005, Jul-05, 91340\n(34.286190115000466,...
19     [Nov_2010, Nov-10, 91325\n(34.23588364000045, ...
20     [Dec_2006, Dec-06, 90210\n(34.08553341500044, ...
21     [Oct_2011, Oct-11, 91201\n(34.16917042600045, ...
22     [Jul_2006, Jul-06, 91315\n(39.52368635500045, ...
23     [Feb_2013, Feb-13, 90211\n(34.065663706000464,...
24     [Dec_2006, Dec-06, 90265\n(34.03506183100046, ...
25     [Jul_2008, Jul-08, 90245\n(33.92015381600049, ...
26     [Sep_2009, Sep-09, 90035\n(34.05421027100044, ...
27     [Apr_2008, Apr-08, 91305\n(34.201123597000446,...
28     [Jul_2006, Jul-06, 91605\n(34.20546425700047, ...
29     [Aug_2007, Aug-07, 90012\n(34.059480762000476,...
...                                                  ...
13890  [Oct_2005, Oct-05, 90717\n(33.79380105600046, ...
13891  [Apr_2006, Apr-06, 91331\n(34.257261068000446,...
13892  [Dec_2013, Dec-12, 90247\n(33.89189390000047, ...
13893  [Nov_2011, Nov-11, 91436\n(34.15384124700046, ...
13894  [Jul_2010, Jul-10, 91402\n(34.22575108800049, ...
13895  [Aug_2008, Aug-08, 90291\n(33.99258071300045, ...
13896  [Jan_2012, Jan-12, 90064\n(34.035413777000485,...
13897  [Apr_2011, Apr-11, 90710\n(33.79480040800047, ...
13898  [Jun_2011, Jun-11, 91330\n(34.24341353500046, ...
13899  [Oct_2007, Oct-07, 90037\n(34.00349102100046, ...
13900  [Feb_2008, Feb-08, 90014\n(34.04475119400047, ...
13901  [Sep_2010, Sep-10, 90035\n(34.05421027100044, ...
13902  [Oct_2010, Oct-10, 90037\n(34.00349102100046, ...
13903  [Feb_2006, Feb-06, 90501\n(33.82909119100049, ...
13904  [Jun_2010, Jun-10, 90275\n(33.76310359300044, ...
13905  [Jul_2005, Jul-05, 90043\n(33.98673233600044, ...
13906  [Feb_2012, Feb-12, 91405\n(34.20047184600048, ...
13907  [Dec_2007, Dec-07, 90031\n(34.07752122500045, ...
13908  [Mar_2007, Mar-07, 91313\n(34.257191547000446,...
13909  [Jun_2009, Jun-09, 91302\n(34.14327419400047, ...
13910  [Aug_2010, Aug-10, 91210\n(34.14436044500047, ...
13911  [Nov_2011, Nov-11, 91403\n(34.15359358100045, ...
13912  [Jul_2012, Jul-12, 90247\n(33.89189390000047, ...
13913  [Apr_2012, Apr-12, 91315\n(39.52368635500045, ...
13914  [Sep_2012, Sep-12, 90003\n(33.96335186100049, ...
13915  [Aug_2009, Aug-09, 91313\n(34.257191547000446,...
13916  [Mar_2006, Mar-06, 90402\n(34.03254172900046, ...
13917  [Jan_2007, Jan-07, 91105\n(34.136982626000474,...
13918  [Aug_2010, Aug-10, 90013\n(34.04726260700045, ...
13919  [Apr_2009, Apr-09, 90019\n(34.04884418900048, ...

[13920 rows x 1 columns]